doctype html
html
   head
      title Chat
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='http://malsup.github.com/jquery.form.js')
      script(src="/socket.io/socket.io.js")
      script(src="script.js")
   body
      div.container
         header
            h1 A Chat application with Node.js and Socket.io
         p
            a(href="/logout") Logout
         input.form-control(type='text', placeholder='Pseudo')#pseudoInput
         button.btn.btn-primary#pseudoSet Set Pseudo
         div#chatEntries
         div#chatControls
            input.form-control(type='text')#messageInput
            button.btn.btn-primary#submit Send
         div#nbUsersDiv
            p Number of connected user(s):
               span#nbUsers
      div.container
         #loader 

         #preview 

         #base64 

         form(action="/upload" method="post" enctype="multipart/form-data")#uploadForm
             input.form-control(type="text" name="title", placeholder='Title')
             br
             input.form-control(type="file" name="upload")#userPhotoInput
             button.btn.btn-primary(type="submit" value="Upload") Upload
             span#uploadStatus
             img#uploadedImage
         table(class="table table-striped")#subscriberTable
           thead
             th Id
             th SignInId
             th SignInType
             th Updated
           tbody
             - for (var i=0; i<subscribers.length; i++){
                tr
                     td= subscribers[i].id
                     td= subscribers[i].signInId
                     td= subscribers[i].signInType
                     td= subscribers[i].createdAt
             - }
