doctype html
html
   head
      title Chat
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='http://malsup.github.com/jquery.form.js')
      script(src="/socket.io/socket.io.js")
      script(src="script.js")
   body
      div.container
         header
            h1 A Chat application with Node.js and Socket.io
         input(type='text')#pseudoInput
         button#pseudoSet Set Pseudo
         div#chatEntries
         div#chatControls
            input(type='text')#messageInput
            button#submit Send
         div#nbUsersDiv
            p Number of connected user(s):
               span#nbUsers

         #loader 

         #preview 

         #base64 

         form(action="/upload" method="post" enctype="multipart/form-data")#uploadForm
             input(type="text" name="title")
             br
             input(type="file" name="upload")#userPhotoInput
             br  
             input(type="submit" value="Upload")
             span#uploadStatus
             img#uploadedImage
         table(class="table table-striped")#subscriberTable
           thead
             th Userid
             th Email
             th Updated
           tbody
             - for (var i=0; i<subscribers.length; i++){
                tr
                     td= subscribers[i].id
                     td= subscribers[i].email
                     td= subscribers[i].createdAt
             - }
