head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/bootstrap.min.js')
  body
  .container
    h1 Login Failed
    p.lead Please try again or register.
    br
    a(href="/Register") Register with your email
    br
    a(href="/") &#8592 Back to login
    h4= info

