doctype html
html
   head
      title Login JoinedApp
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
   body
      div.container
         header
            h1 Login JoinedApp
            br
            a(href="/auth/facebook") Sign in with Facebook
            br
            a(href="/auth/google") Sign in with Google
            br
            a(href="/auth/twitter") Sign in with Twitter
   script(src='http://code.jquery.com/jquery.js')
   script(src='js/bootstrap.min.js')